# To ignore Resources 
/results/*
/documentations/*
/resources/*
card*
wildcard/*
wildcard_annotation.log
wildcard_data.tar.bz2
wildcard_database_v4.0.1.fasta
wildcard_database_v4.0.1_all.fasta
data
localDB/*
results_chu_samples
results_cmc_samples
dag.png
/benchmarks/*
# -------------------------------
# Snakemake cache and metadata
# -------------------------------
.snakemake/
!/.snakemake/logs/  # (optionnel : tu peux garder les logs si tu veux les suivre)
!/.snakemake/config/ # idem

# Snakemake temp/intermediate results
.snakemake_timestamp
.snakemake_metadata.json


# -------------------------------
# Conda environments & temporary files
# -------------------------------
.snakemake/conda/*
.snakemake/scripts/*
.snakemake/metadata/*
.snakemake/log/*
.snakemake/tmp/*
.snakemake/shadow/*
.snakemake/locks/*
.snakemake/.lock


logs/
tmp/
.cache/
.log
.tmp
.bak
.snakemake/
